<!DOCTYPE html>
<html lang="en">
<head>
  <title>登录界面</title>
    <!-- MDUI CSS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- MDUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css"/>

  <style>
    .rounded-element {
      border-radius: 90px; /* 设置圆角半径，可以根据需要调整值 */
    }
   .mdui-row > [class*="mdui-col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #E8EAF6;
  border: 1px solid #C5CAE9;
  margin-bottom: 8px;
}

  </style>
</head>

<body>
<body>
  <div class="mdui-appbar">
    <div class="mdui-toolbar mdui-color-grey-200">
       <a href="#"> <img src="../static/logo.png" width="120px" style="position:absolute; left:3px; top:14px;color:sienna;margin-left:0px; float:right" width="50px"></a>

      <a href="#" class="mdui-typo-headline" style="position:absolute; left:55px; top:1px;margin-left:0px; float:right" >LINGO</a>



    </div>
  </div>





<div class="mdui-color-grey-700"   style=" margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;background-image: url('../static/u=1551933435,847125014&fm=253&fmt=auto&app=120&f=JPEG.jpg');
background-size: cover; /* 使背景图片填充整个容器 */
      background-repeat: no-repeat; /* 防止背景图片重复 */">


        <div class="mdui-row">


          <div class="mdui-col-xs-5  mdui-color-grey-200 mdui-shadow-5 mdui-hoverable" style="float: left;position:absolute;left: 36%;top:30%;border-radius: 10px;height: 450px;width: 500px">
            <form action="" method="post">
              <div><h1 style="font-weight:400;text-align: center;"> 请注册你的LINGO账户 </h1> </div>


                <span class="mdui-text-color-red-a700" style="position:absolute;top:90px;left: 187px">{{ ANDSS }}</span>


                              <div class="mdui-textfield mdui-textfield-floating-label" style="position: absolute;left: 20px;top: 70px;width:90% ">
                          <label class="mdui-textfield-label" >User name</label>
                          <input class="mdui-textfield-input" name="USERNAME" type="text" required/>
                          <div class="mdui-textfield-error">用户名不能为空</div>
                        </div>

                        <div class="mdui-textfield mdui-textfield-floating-label" style="position: absolute;left: 20px;top: 150px;width:90% ">
                          <label class="mdui-textfield-label">Email</label>
                          <input class="mdui-textfield-input" name="EMAIL" type="email" required/>
                          <div class="mdui-textfield-error">邮箱格式错误</div>
                        </div>


                        <div class="mdui-textfield mdui-textfield-floating-label" style="position: absolute;left: 20px;top: 230px;width:90%">
                          <label class="mdui-textfield-label">Password</label>
                          <input class="mdui-textfield-input" name="PASSWORD" type="text" pattern="^.*(?=.{6,})(?=.*[a-z])(?=.*[A-Z]).*$" required/>
                          <div class="mdui-textfield-error">密码至少 6 位，且包含大小写字母</div>
                          <div class="mdui-textfield-helper">请输入至少 6 位，且包含大小写字母的密码</div>
                        </div>
              <br>


              <button class="mdui-btn mdui-btn-raised mdui-color-grey-400 mdui-hoverable " onclick="disableButtonFor15Seconds()" style="border-radius: 10px;position: absolute;top: 345px;width: 95%;left: 2.3%">
                  <div><h2 style="font-weight:300;text-align: center;position: absolute;top:-16px;left: 215px"> 注册 </h2> </div></button>
                {% csrf_token %}
            </form>
              <div>
                  <span style="position:absolute;top:410px;left: 20px">已有帐户？<a href="/登录">登录</a></span>

              </div>



          </div>
        </div>

</div>


</body>
<script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js">
    function disableButtonFor15Seconds() {
      if (canClick) {
        canClick = false;
        setTimeout(() => {
          canClick = true;
        }, 15000); // 15秒
      }
    }
</script>
</html>