<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>头像上传和裁剪</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.css">
<link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css"/>
</head>
<body>

<h1 style="margin-top: 200px ;margin-left: 200px"><a href="https://www.bilibili.com">转跳bilibili</a></h1>

<a href="https://www.baidu.com">点击转跳百度</a>
<img src="toux.jpg" width="400px" >

<div class="mdui-card" >
  <div class="mdui-card-media">
    <img src="beiehbjik.jpg"/>
    <div class="mdui-card-media-covered">
      <div class="mdui-card-primary">
        <div class="mdui-card-primary-title">Title</div>
        <div class="mdui-card-primary-subtitle">Subtitle</div>
      </div>
    </div>
  </div>
  <div class="mdui-card-actions">
    <button class="mdui-btn mdui-ripple">action 1</button>
    <button class="mdui-btn mdui-ripple">action 2</button>
  </div>
</div>

</div>

</body>
</html>
