<!DOCTYPE html>
<html xmlns:left="http://www.w3.org/1999/xhtml" xmlns:top="http://www.w3.org/1999/xhtml">
<head>
  <title>登录界面</title>
    <!-- MDUI CSS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>




    <!-- MDUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css"/>

  <style>
    .rounded-element {
      border-radius: 90px; /* 设置圆角半径，可以根据需要调整值 */
    }
    .responsive-div {
      display: block;
    }

    /* 在页面宽度小于600像素时隐藏 */
    @media (max-width: 600px) {
      .responsive-div {
        display: none;
      }
    }
    /* 默认样式，隐藏 */
    .responsive2-div {
      display: none;
    }

    /* 在页面宽度小于400px时显示 */
    @media (max-width: 600px) {
      .responsive2-div {
        display: block;
      }
    }
  </style>
</head>
<body>
<div class="mdui-container-fluid" >


    <div class="mdui-row mdui-row-gapless mdui-shadow-5 mdui-color-grey-200 " style="border: 1px solid #000">


        <div class="mdui-row mdui-row-gapless mdui-shadow-5 mdui-color-grey-200 responsive-div mdui-col-xs-12" style="border: 1px solid #000">


            <div class="mdui-toolbar mdui-color-theme mdui-col-xs-12 ">





                <div class="mdui-col-xs-6  " style="border: 0px solid #000"></div>
                <div class="mdui-col-xs-6  " style="border: 0px solid #000"></div>
                <div class="mdui-col-xs-6  " style="border: 0px solid #000"></div>



                <div class="mdui-col-xs-6  " style="border: 1px solid #000;border: 1px solid #000; display: flex; align-items: center; justify-content: center;"><a href="#">666</a></div>
                <div class="mdui-col-xs-6  " style="border: 1px solid #000;border: 1px solid #000; display: flex; align-items: center; justify-content: center;"><a href="#">666</a></div>
                <div class="mdui-col-xs-6  " style="border: 1px solid #000;border: 1px solid #000; display: flex; align-items: center; justify-content: center;"><a href="#">666</a></div>
                <div class="mdui-col-xs-6  " style="border: 1px solid #000;border: 1px solid #000; display: flex; align-items: center; justify-content: center;"><a href="#">666</a></div>









                <a href="#" class="mdui-toolbar"> <img src="../static/logo.png" width="120px" style="position:absolute; left:3px; top:14px;color:sienna;margin-left:0px; float:right"  width="50px"></a>




                <a href="#" class="mdui-typo-headline mdui-toolbar" style="position:absolute; left:55px; top:1px;margin-left:0px; float:right" >LINGO</a>








              <div class="mdui-toolbar-spacer"></div>
              <a href="javascript:;" class="mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">search</i>
              </a>

              <a href="javascript:;" class="mdui-btn mdui-btn-icon">
                <img src="toux.jpg" width="100%"></img>
              </a>
            </div>







        </div>

        <div class="mdui-row mdui-row-gapless mdui-shadow-5 mdui-color-grey-200 responsive2-div" style="border: 1px solid #000;margin-top: 0px;">


            <div class="mdui-toolbar mdui-color-theme ">
                <a href="javascript:;" class="mdui-btn mdui-btn-icon">
                    <i class="mdui-icon material-icons">menu</i>
                </a>




              <div class="mdui-toolbar-spacer"></div>
              <a href="javascript:;" class="mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">search</i>
              </a>

              <a href="javascript:;" class="mdui-btn mdui-btn-icon">
                <img src="toux.jpg" width="100%"></img>
              </a>
            </div>







        </div>



        <div class="mdui-col-xs-10  mdui-col-offset-xs-1  mdui-color-grey-200" style="border: 1px solid #000 ; margin-top: 10px;">


            <div class="mdui-panel mdui-panel-popout mdui-shadow-5 " mdui-panel style=" margin-bottom: 20px;border-radius: 10px" >

              <div class="mdui-panel-item mdui-color-grey-200" style="border-radius: 5px">
                <div class="mdui-panel-item-header" style="display: flex;justify-content: center; /* 水平居中 */align-items: center; /* 垂直居中 */">主页</div>
                <div class="mdui-panel-item-body">

                        <div class="mdui-panel" mdui-panel >
                          <div class="mdui-panel-item" style="border-radius: 5px">
                            <div class="mdui-panel-item-header">666</div>
                            <div class="mdui-panel-item-body">
                              <p>666</p>

                            </div>
                          </div>
                          <div class="mdui-panel-item" style="border-radius: 5px">
                            <div class="mdui-panel-item-header" >666</div>
                            <div class="mdui-panel-item-body">
                              <p>666</p>

                            </div>
                          </div>
                          <div class="mdui-panel-item" style="border-radius: 5px">
                            <div class="mdui-panel-item-header" >666</div>
                            <div class="mdui-panel-item-body">
                              <p>666</p>

                            </div>
                          </div>
                        </div>

                </div>


              </div>
            </div>



        </div>

        <div class="mdui-col-xs-10  mdui-col-offset-xs-1  mdui-color-grey-200" style="border: 1px solid #000 ; margin-top: 10px; margin-bottom: 20px;">






        </div>



    </div>


    </div>

















</div>





</body>

<script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>




</html>